<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inbyte.component.admin.system.user.dao.MerchantMapper">

    <select id="detail" parameterType="String" resultType="com.inbyte.component.admin.system.user.model.merchant.MerchantDetail">
        SELECT mctNo,
               mctName,
               pinYinName,
               fileCount,
               fileSizeCount,
               homePageConfig,
               joinUs,
               goldenBanner,
               companyIntroduce,
               aboutUs,
               salesPartner,
               itPartner,
               itEntrepreneurship,
               chatToBoss,
               createTime,
               createUserId,
               createUserName,
               updateTime
          FROM merchant
         WHERE mctNo = #{mctNo, jdbcType=VARCHAR}
    </select>

</mapper>
