<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inbyte.component.admin.system.user.dao.MerchantMapper">

    <select id="detail" parameterType="String" resultType="com.inbyte.component.admin.system.user.model.merchant.MerchantDetail">
        SELECT mct_no,
               mct_name,
               pinYin_name,
               file_count,
               file_size_count,
               join_us,
               company_introduce,
               about_us,
               create_time,
               creator_id,
               creator_name,
               update_time
          FROM merchant
         WHERE mct_no = #{mctNo, jdbcType=VARCHAR}
    </select>

</mapper>
