<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inbyte.component.admin.system.user.dao.SystemUserMapper">

    <select id="detail" resultType="com.inbyte.component.admin.system.user.model.system.user.SystemUserDetail">
        SELECT userId,
               userName,
               userName,
               nickName,
               realName,
               tel,
               avatar,
               email,
               disabled,
               role,
               roleDesc,
               createTime,
               latestLoginTime,
               deleted,
               remark,
               needUpdatePwd,
               mctNo
          FROM system_user
         WHERE userId = #{userId, jdbcType=INTEGER}
    </select>

    <select id="queryByPwd" resultType="com.inbyte.component.admin.system.user.model.system.user.SystemUserDetail">
        SELECT um.userId,
               um.userName,
               um.tel,
               um.avatar,
               um.email,
               um.createTime,
               um.latestLoginTime,
               um.deleted,
               um.remark,
               um.needUpdatePwd,
               um.mctNo,
               um.admin,
               m.mctName,
               m.pinYinName
          FROM system_user um
         INNER JOIN merchant m
            ON um.mctNo = m.mctNo
         WHERE (tel = #{id, jdbcType=VARCHAR} OR userName = #{id, jdbcType=VARCHAR})
           AND pwd = #{pwd, jdbcType=VARCHAR}
    </select>

    <select id="queryByOpenId" resultType="com.inbyte.component.admin.system.user.model.system.user.SystemUserDetail">
        SELECT userId,
               userName,
               tel,
               avatar,
               email,
               createTime,
               latestLoginTime,
               deleted,
               remark,
               needUpdatePwd,
               mctNo
          FROM system_user
         WHERE openId = #{openId}
    </select>

    <select id="queryByTel" resultType="com.inbyte.component.admin.system.user.model.system.user.SystemUserDetail">
        SELECT userId,
               userName,
               tel,
               avatar,
               email,
               createTime,
               latestLoginTime,
               deleted,
               remark,
               needUpdatePwd,
               mctNo
          FROM system_user
         WHERE tel = #{tel}
    </select>

    <select id="list" resultType="com.inbyte.component.admin.system.user.model.system.user.SystemUserBrief">
        SELECT userId,
               userName,
               nickName,
               realName,
               tel,
               avatar,
               email,
               disabled,
               role,
               roleDesc,
               createTime,
               latestLoginTime,
               deleted,
               remark,
               needUpdatePwd,
               mctNo
          FROM system_user
         WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (userName LIKE CONCAT('%', #{keyword}, '%') OR
                 realName LIKE CONCAT('%', #{keyword}, '%') OR
                 tel LIKE CONCAT('%', #{keyword}, '%'))
        </if>
    </select>

    <select id="dict" resultType="com.inbyte.commons.model.dto.Dict">
        SELECT userId AS code,
               userId AS codeStr,
               userName AS name
          FROM system_user
         WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (userName LIKE CONCAT('%', #{keyword}, '%') OR
                 realName LIKE CONCAT('%', #{keyword}, '%') OR
                 tel LIKE CONCAT('%', #{keyword}, '%'))
        </if>
    </select>
</mapper>