<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inbyte.component.admin.dict.dao.DictItemMapper">

    <select id="detail" parameterType="Integer" resultType="com.inbyte.component.admin.dict.model.dict.item.DictItemDetail">
        SELECT di.itemId,
               di.dictId,
               d.name AS dictName,
               di.code,
               di.`name`,
               di.remark,
               di.`system`,
               di.ordinal,
               di.createTime,
               di.createUserName,
               di.createUserId,
               di.updateTime
          FROM dict_item
          LEFT JOIN dict d
           ON di.dictId = d.dictId
         WHERE itemId = #{itemId, jdbcType=INTEGER}
    </select>

    <select id="list" resultType="com.inbyte.component.admin.dict.model.dict.item.DictItemBrief">
        SELECT di.itemId,
               di.dictId,
               d.name AS dictName,
               di.code,
               di.`name`,
               di.remark,
               di.ordinal,
               di.createTime,
               di.updateTime
          FROM dict_item di
          LEFT JOIN dict d
            ON di.dictId = d.dictId
         WHERE di.deleted = 0
           AND di.dictId = #{dictId}
        <if test="keyword != null and keyword != ''">
            AND (di.name LIKE CONCAT('%', #{keyword}, '%')
            OR di.remark LIKE CONCAT('%', #{keyword}, '%'))
        </if>
         ORDER BY ordinal ASC
    </select>

</mapper>
