<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inbyte.component.admin.user.dao.UserWeixinMpMapper">

    <select id="detail" resultType="com.inbyte.component.admin.user.model.mp.UserWeixinMpDetail">
        SELECT eid,
               openId,
               userId,
               nickName,
               realName,
               gender,
               unionId,
               appId,
               mctNo,
               tel,
               pwd,
               countryCode,
               avatarUrl,
               sessionKey,
               createTime,
               latestLoginTime,
               longitude,
               latitude,
               locationUpdateTime,
               registerLongitude,
               registerLatitude,
               recommendEid,
               boundWithUser,
               boundWithUserTime,
               inviteCount,
               remark,
               registerType,
               registerRemark
          FROM user_weixin_mp
         WHERE eid = #{eid, jdbcType=INTEGER}
           AND mctNo = #{mctNo}
    </select>
    <select id="getByUserId" resultType="com.inbyte.component.admin.user.model.mp.UserWeixinMpDetail">
        SELECT eid,
               openId,
               userId,
               nickName,
               realName,
               gender,
               unionId,
               appId,
               mctNo,
               tel,
               pwd,
               countryCode,
               avatarUrl,
               sessionKey,
               createTime,
               latestLoginTime,
               longitude,
               latitude,
               locationUpdateTime,
               registerLongitude,
               registerLatitude,
               recommendEid,
               boundWithUser,
               boundWithUserTime,
               inviteCount,
               remark
          FROM user_weixin_mp
         WHERE userId = #{userId, jdbcType=INTEGER}
           AND mctNo = #{mctNo}
    </select>

    <select id="list" resultType="com.inbyte.component.admin.user.model.mp.UserWeixinMpBrief">
        SELECT eid,
               openId,
               userId,
               nickName,
               realName,
               gender,
               unionId,
               appId,
               mctNo,
               tel,
               countryCode,
               avatarUrl,
               sessionKey,
               createTime,
               latestLoginTime,
               loginCount,
               longitude,
               latitude,
               locationUpdateTime,
               registerLongitude,
               registerLatitude,
               recommendEid,
               boundWithUser,
               boundWithUserTime,
               inviteCount,
               remark,
               qcid,
               registerType,
               registerRemark
          FROM user_weixin_mp
         WHERE deleted = 0
           AND mctNo = #{mctNo}
        <if test="startDate != null">
           AND createTime &gt; #{startDate, jdbcType=TIMESTAMP}
        </if>
        <if test="endDate != null">
           AND createTime &lt; #{endDate, jdbcType=TIMESTAMP}
        </if>
        <if test="recommendEid != null">
           AND recommendEid = #{recommendEid}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (nickName LIKE CONCAT('%', #{keyword}, '%') OR
                 realName LIKE CONCAT('%', #{keyword}, '%') OR
                 tel LIKE CONCAT('%', #{keyword}, '%') OR
                 remark LIKE CONCAT('%', #{keyword}, '%') OR
                 registerRemark LIKE CONCAT('%', #{keyword}, '%') OR
                 eid = #{keyword})
        </if>
        <choose>
            <when test="orderColumn != null and orderColumn != ''">
                ORDER BY ${orderColumn} ${ordering}
            </when>
            <otherwise>
                ORDER BY eid DESC
            </otherwise>
        </choose>
    </select>

    <select id="userTrend" resultType="com.inbyte.component.admin.user.model.mp.UserTrendBrief">
        SELECT DATE_FORMAT(createTime,'%Y-%m-%d') `date`,
               count(openId) `count`
          FROM user_weixin_mp
         WHERE deleted = 0
        <if test="startDate != null">
           AND createTime &gt; #{startDate, jdbcType=TIMESTAMP}
        </if>
        <if test="endDate != null">
           AND createTime &lt; #{endDate, jdbcType=TIMESTAMP}
        </if>
         GROUP BY `date`
         ORDER BY `date` ASC
    </select>

</mapper>
