<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inbyte.component.common.ai.customer.service.dao.AiScriptLibraryMapper">

    <select id="findByQuestion" resultType="com.inbyte.component.common.ai.customer.service.model.po.AiScriptLibraryPo">
        SELECT *
          FROM ai_script_library
         WHERE mct_no = #{mctNo}
           AND question LIKE CONCAT('%', #{question}, '%')
           AND deleted = 0
         LIMIT 1
    </select>
    
    <select id="findByKeyword" resultType="com.inbyte.component.common.ai.customer.service.model.po.AiScriptLibraryPo">
        SELECT *
          FROM ai_script_library
         WHERE mct_no = #{mctNo}
           AND JSON_CONTAINS(keyword_list, CONCAT('"', #{keyword}, '"'), '$')
           AND deleted = 0
         LIMIT 1
    </select>
    
</mapper>