<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inbyte.component.app.payment.weixin.dao.PaymentWeixinConfigMapper">

    <select id="brief" parameterType="java.lang.String" resultType="com.inbyte.component.app.payment.weixin.model.PaymentWeixinConfigBrief">
        SELECT weixin_payment_merchant_id,
               api_v3_key,
               serial_number,
               merchant_private_key,
               service_charge_rate,
               remark
          FROM payment_weixin_config
         WHERE weixin_payment_merchant_id = #{weixinPaymentMerchantId, jdbcType=VARCHAR}
    </select>

</mapper>