<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inbyte.component.app.payment.weixin.dao.PaymentWeixinInfoMapper">

    <insert id="insertSelective" parameterType="com.inbyte.component.app.payment.weixin.model.PaymentWeixinInfoPo" keyProperty="weixinPaymentId" useGeneratedKeys="true">
        INSERT INTO payment_weixin_info
            (user_id, order_no, order_brief, order_type, main_photo, venue_id, mct_no, app_id, prepay_id,
             payment_amount, weixin_payment_merchant_id, paid, create_time)
        SELECT #{userId, jdbcType=INTEGER},
               #{orderNo, jdbcType=VARCHAR},
               #{orderBrief, jdbcType=VARCHAR},
               #{orderType, jdbcType=VARCHAR},
               #{mainPhoto, jdbcType=VARCHAR},
               #{venueId, jdbcType=INTEGER},
               #{mctNo, jdbcType=VARCHAR},
               #{appId, jdbcType=VARCHAR},
               #{prepayId, jdbcType=VARCHAR},
               #{paymentAmount, jdbcType=DECIMAL},
               #{weixinPaymentMerchantId, jdbcType=VARCHAR},
               #{paid, jdbcType=INTEGER},
               #{createTime, jdbcType=TIMESTAMP}
          FROM DUAL
         WHERE NOT EXISTS(SELECT 1
                            FROM payment_weixin_info
                           WHERE order_no = #{orderNo})
    </insert>

    <update id="update" parameterType="com.inbyte.component.app.payment.weixin.model.PaymentWeixinInfoPo">
        UPDATE payment_weixin_info
        <set>
            <if test="paymentAmount != null">
                payment_amount = #{paymentAmount, jdbcType=DECIMAL},
            </if>
            <if test="paid != null">
                paid = #{paid, jdbcType=INTEGER},
            </if>
            <if test="paymentNo != null">
                payment_no = #{paymentNo, jdbcType=VARCHAR},
            </if>
            <if test="paymentUserId != null">
                payment_user_id = #{paymentUserId, jdbcType=VARCHAR},
            </if>
            <if test="paymentFinishTime != null">
                payment_finish_time = #{paymentFinishTime, jdbcType=TIMESTAMP},
            </if>
            <if test="notifyPaymentAmount != null">
                notify_payment_amount = #{notifyPaymentAmount, jdbcType=DECIMAL},
            </if>
            <if test="tradeType != null">
                trade_type = #{tradeType, jdbcType=VARCHAR},
            </if>
            <if test="bankType != null">
                bank_type = #{bankType, jdbcType=VARCHAR},
            </if>
            <if test="refundTotalAmount != null">
                refund_total_amount = refund_total_amount + #{refundTotalAmount, jdbcType=DECIMAL},
            </if>
            <if test="refunded != null">
                refunded = #{refunded, jdbcType=INTEGER},
            </if>
            <if test="refundApplied != null">
                refund_applied = #{refundApplied, jdbcType=INTEGER},
            </if>
            <if test="cancelTime != null">
                cancel_time = #{cancelTime, jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted, jdbcType=INTEGER},
            </if>
        </set>
        WHERE order_no = #{orderNo, jdbcType=VARCHAR}
    </update>

    <select id="selectByNo" parameterType="java.lang.String" resultType="com.inbyte.component.app.payment.weixin.model.PaymentWeixinInfoBrief">
        SELECT weixin_payment_id,
               user_id,
               order_no,
               order_brief,
               order_type,
               main_photo,
               venue_id,
               mct_no,
               app_id,
               payment_amount,
               weixin_payment_merchant_id,
               paid,
               payment_no
          FROM payment_weixin_info
         WHERE order_no = #{orderNo, jdbcType=VARCHAR}
    </select>

</mapper>