<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inbyte.component.admin.marketing.dao.CustomerClueMapper">

    <select id="brief" parameterType="Integer" resultType="com.inbyte.component.admin.marketing.model.clue.CustomerClueBrief">
        SELECT clueId,
               userId,
               nickName,
               eid,
               etp,
               tel,
               dispatched,
               contactPersonId,
               contactPersonName,
               latestContactTime,
               nextContactTime,
               dropped,
               dropReason,
               converted,
               updateTime
          FROM customer_clue
         WHERE clueId = #{clueId, jdbcType=INTEGER}
    </select>

    <select id="detail" parameterType="Integer" resultType="com.inbyte.component.admin.marketing.model.clue.CustomerClueDetail">
        SELECT clueId,
               userId,
               nickName,
               eid,
               etp,
               tel,
               dispatched,
               contactPersonId,
               contactPersonName,
               latestContactTime,
               nextContactTime,
               dropped,
               dropReason,
               converted,
               remark,
               createTime,
               createUserId,
               createUserName,
               updateTime
          FROM customer_clue
         WHERE clueId = #{clueId, jdbcType=INTEGER}
    </select>

    <select id="list" resultType="com.inbyte.component.admin.marketing.model.clue.CustomerClueBrief">
        SELECT clueId,
               userId,
               nickName,
               tel,
               subjectName,
               moduleName,
               dispatched,
               contactPersonId,
               contactPersonName,
               contacting,
               contactStage,
               latestContactTime,
               nextContactTime,
               converted,
               recommendEid,
               recommendUserName,
               latestContactMsg,
               longitude,
               latitude,
               remark,
               createTime,
               updateTime
          FROM customer_clue
         WHERE deleted = 0
           AND mctNo = #{mctNo}
        <if test="startDate != null">
           AND createTime &gt; #{startDate, jdbcType=TIMESTAMP}
        </if>
        <if test="endDate != null">
           AND createTime &lt; #{endDate, jdbcType=TIMESTAMP}
        </if>
        <if test="clueStatus != null and clueStatus == 1">
           AND contactStage IN(0,1,2,3,4,5,6)
        </if>
        <if test="clueStatus != null and clueStatus == 2">
           AND dropped = 1
        </if>
        <if test="clueStatus != null and clueStatus == 3">
           AND converted = 1
        </if>
        <if test="keyword != null and keyword != ''">
            AND (nickName LIKE CONCAT('%', #{keyword}, '%')
            OR tel LIKE CONCAT('%', #{keyword}, '%'))
        </if>

        <choose>
            <when test="orderColumn != null and orderColumn != ''">
                ORDER BY ${orderColumn} ${ordering}
            </when>
            <otherwise>
                ORDER BY clueId DESC
            </otherwise>
        </choose>
    </select>
</mapper>
