<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inbyte.component.admin.user.dao.UserLocationMapper">

    <select id="list" resultType="com.inbyte.component.admin.user.model.data.UserLocationBrief">
        SELECT longitude,
               latitude,
               count(1) AS `count`
          FROM user_location
         WHERE mct_no = #{mctNo, jdbcType=VARCHAR}
        <if test="startDate != null">
           AND create_time &gt; #{startDate, jdbcType=TIMESTAMP}
        </if>
        <if test="endDate != null">
           AND create_time &lt; #{endDate, jdbcType=TIMESTAMP}
        </if>
        GROUP BY longitude,
                 latitude
    </select>
</mapper>
