<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inbyte.component.app.order.dao.OrderCenterMapper">

    <select id="list" resultType="com.inbyte.component.app.order.model.OrderCenterBrief">
        SELECT order_no,
               order_title,
               order_brief,
               order_status,
               order_type,
               extent,
               order_amount,
               payable_amount,
               venue_id,
               venue_name,
               main_photo
        FROM order_center
         WHERE deleted = 0
           AND user_id = #{userId}
         <if test="orderStatusType != null and orderStatusType == 'WAIT_PAY'">
           AND order_status = 'WAIT_PAY'
         </if>
         <if test="orderStatusType != null and orderStatusType == 2">
           AND order_status IN (1, 2, 5, 6)
         </if>
         <if test="orderStatusType != null and orderStatusType == 3">
           AND order_status IN (10, 11, 12)
         </if>
    </select>

</mapper>
