<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inbyte.component.admin.marketing.dao.QrcodeMerchantUserMapper">

    <select id="detail" parameterType="Integer" resultType="com.inbyte.component.admin.marketing.model.qrcode.user.QrcodeMerchantUserDetail">
        SELECT qm_user_id,
               qcid,
               eid,
               etp,
               longitude,
               latitude,
               create_time
          FROM qrcode_merchant_user
         WHERE qm_user_id = #{qmUserId, jdbcType=INTEGER}
    </select>

    <select id="list" resultType="com.inbyte.component.admin.marketing.model.qrcode.user.QrcodeMerchantUserBrief">
        SELECT qmr.qm_user_id,
               qmr.qcid,
               qmr.eid,
               qmr.etp,
               qmr.registered,
               qmr.appointed,
               qmr.made_deal,
               qmr.order_count,
               qmr.trade_amount,
               qmr.create_time,
               uw.nickname
          FROM qrcode_merchant_user qmr
          LEFT JOIN user_weixin_mp uw
            ON qmr.eid = uw.eid
         WHERE deleted = 0
           AND uw.mct_no = #{mctNo}
           AND qmr.qcid = #{qcid, jdbcType=INTEGER}
        <if test="startDate != null">
           AND qmr.create_time &gt; #{startDate, jdbcType=TIMESTAMP}
        </if>
        <if test="endDate != null">
           AND qmr.create_time &lt; #{endDate, jdbcType=TIMESTAMP}
        </if>
        <if test="keyword != null and keyword != ''">
            AND uw.nickname LIKE CONCAT('%', #{keyword}, '%')
        </if>
         ORDER BY qmr.qm_user_id DESC
    </select>

    <select id="userDistribution" resultType="com.inbyte.component.admin.marketing.model.UserLocationBrief">
        SELECT longitude,
               latitude,
               count(1) AS `count`
          FROM qrcode_merchant_user
         WHERE qcid = #{qcid}
         GROUP BY longitude,
                  latitude
    </select>

    <select id="userTrend" resultType="com.inbyte.component.admin.marketing.model.UserTrendBrief">
        SELECT DATE_FORMAT(create_time,'%Y-%m-%d') `date`,
               count(1) `count`
          FROM qrcode_merchant_user
         WHERE qcid = #{qcid}
        <if test="startDate != null">
           AND create_time &gt; #{startDate, jdbcType=TIMESTAMP}
        </if>
        <if test="endDate != null">
           AND create_time &lt; #{endDate, jdbcType=TIMESTAMP}
        </if>
         GROUP BY `date`
         ORDER BY `date` ASC
    </select>
</mapper>
