<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inbyte.component.admin.aliyun.oss.dao.ObjectStorageMapper">

    <select id="brief" parameterType="Integer" resultType="com.inbyte.component.admin.aliyun.oss.model.object.storage.ObjectStorageBrief">
        SELECT object_id,
               url,
               end_point,
               bucket,
               mct_no,
               file_name,
               uploaded,
               `size`,
               file_type,
               mime_type,
               upload_source,
               height,
               width,
               update_time
          FROM object_storage
         WHERE object_id = #{objectId, jdbcType=INTEGER}
    </select>

    <select id="detail" parameterType="Integer" resultType="com.inbyte.component.admin.aliyun.oss.model.object.storage.ObjectStorageDetail">
        SELECT object_id,
               end_point,
               url,
               bucket,
               mct_no,
               file_name,
               file_path,
               uploaded,
               `size`,
               file_type,
               mime_type,
               upload_source,
               height,
               width,
               create_time,
               creator_id,
               creator_name,
               update_time
          FROM object_storage
         WHERE objectId = #{object_id, jdbcType=INTEGER}
    </select>

    <select id="list" resultType="com.inbyte.component.admin.aliyun.oss.model.object.storage.ObjectStorageBrief">
        SELECT object_id,
               end_point,
               bucket,
               mct_no,
               file_name,
               file_path,
               uploaded,
               `size`,
               file_type,
               mime_type,
               upload_source,
               height,
               width,
               remark,
               creator_name,
               creator_time
          FROM object_storage
         WHERE deleted = 0
           AND mctNo = #{mctNo}
        <if test="query.startDate != null">
           AND create_time &gt; #{query.start_date, jdbcType=TIMESTAMP}
        </if>
        <if test="query.endDate != null">
           AND create_time &lt; #{query.endDate, jdbcType=TIMESTAMP}
        </if>
        <if test="query.keyword != null and query.keyword != ''">
            AND file_name LIKE CONCAT('%', #{query.keyword}, '%')
        </if>
         ORDER BY object_id DESC
    </select>
</mapper>
