<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inbyte.component.common.district.dao.CommonDistrictMapper">

    <cache eviction="LRU"
           flushInterval="600000"
           size="512"
           readOnly="true"/>

    <select id="queryProvince" resultType="com.inbyte.component.common.district.model.CommonProvince">
        SELECT provinceId AS provinceId,
               provinceName AS provinceName
          FROM common_province
         WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
           AND provinceName LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>
    <select id="queryProvinceNameById" resultType="java.lang.String">
        SELECT provinceName
          FROM common_province
         WHERE provinceId = #{provinceId}
    </select>

    <select id="queryCity" resultType="com.inbyte.component.common.district.model.CommonCity">
        SELECT cityId AS cityId,
               cityName AS cityName
          FROM common_city
         WHERE deleted = 0
        <if test="provinceId != null">
           AND provinceId = #{provinceId}
        </if>
        <if test="keyword != null and keyword != ''">
           AND cityName LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>
    <select id="queryCityNameById" resultType="java.lang.String">
        SELECT cityName
          FROM common_city
         WHERE cityId = #{cityId}
    </select>

    <select id="queryDistrict" resultType="com.inbyte.component.common.district.model.CommonDistrict">
        SELECT districtId AS districtId,
               districtName AS districtName
          FROM common_district
         WHERE deleted = 0
        <if test="cityId != null">
          AND cityId = #{cityId}
        </if>
        <if test="keyword != null and keyword != ''">
            AND districtName LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>
    <select id="queryDistrictNameById" resultType="java.lang.String">
        SELECT districtId AS districtId,
               districtName AS districtName
          FROM common_district
         WHERE districtId = #{districtId}
    </select>

    <select id="queryNameById" resultType="java.lang.String">
        SELECT regionName
          FROM common_region_dict
         WHERE regionId = #{regionId}
    </select>

</mapper>