<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inbyte.component.app.payment.weixin.dao.PaymentWeixinInfoMapper">

    <insert id="insertSelective" parameterType="com.inbyte.component.app.payment.weixin.model.PaymentWeixinInfoPo" keyProperty="weixinPaymentId" useGeneratedKeys="true">
        INSERT INTO payment_weixin_info
            (userId, orderNo, orderBrief, orderType, mainPhoto, venueId, mctNo, appId, prepayId,
             paymentAmount, weixinPaymentMerchantId, paid, createTime)
        SELECT #{userId, jdbcType=INTEGER},
               #{orderNo, jdbcType=VARCHAR},
               #{orderBrief, jdbcType=VARCHAR},
               #{orderType, jdbcType=VARCHAR},
               #{mainPhoto, jdbcType=VARCHAR},
               #{venueId, jdbcType=INTEGER},
               #{mctNo, jdbcType=VARCHAR},
               #{appId, jdbcType=VARCHAR},
               #{prepayId, jdbcType=VARCHAR},
               #{paymentAmount, jdbcType=DECIMAL},
               #{weixinPaymentMerchantId, jdbcType=VARCHAR},
               #{paid, jdbcType=INTEGER},
               #{createTime, jdbcType=TIMESTAMP}
          FROM DUAL
         WHERE NOT EXISTS(SELECT 1
                            FROM payment_weixin_info
                           WHERE orderNo = #{orderNo})
    </insert>

    <update id="update" parameterType="com.inbyte.component.app.payment.weixin.model.PaymentWeixinInfoPo">
        UPDATE payment_weixin_info
        <set>
            <if test="paymentAmount != null">
                paymentAmount = #{paymentAmount, jdbcType=DECIMAL},
            </if>
            <if test="paid != null">
                paid = #{paid, jdbcType=INTEGER},
            </if>
            <if test="paymentNo != null">
                paymentNo = #{paymentNo, jdbcType=VARCHAR},
            </if>
            <if test="paymentUserId != null">
                paymentUserId = #{paymentUserId, jdbcType=VARCHAR},
            </if>
            <if test="paymentFinishTime != null">
                paymentFinishTime = #{paymentFinishTime, jdbcType=TIMESTAMP},
            </if>
            <if test="notifyPaymentAmount != null">
                notifyPaymentAmount = #{notifyPaymentAmount, jdbcType=DECIMAL},
            </if>
            <if test="tradeType != null">
                tradeType = #{tradeType, jdbcType=VARCHAR},
            </if>
            <if test="bankType != null">
                bankType = #{bankType, jdbcType=VARCHAR},
            </if>
            <if test="refundTotalAmount != null">
                refundTotalAmount = refundTotalAmount + #{refundTotalAmount, jdbcType=DECIMAL},
            </if>
            <if test="refunded != null">
                refunded = #{refunded, jdbcType=INTEGER},
            </if>
            <if test="refundApplied != null">
                refundApplied = #{refundApplied, jdbcType=INTEGER},
            </if>
            <if test="cancelTime != null">
                cancelTime = #{cancelTime, jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted, jdbcType=INTEGER},
            </if>
        </set>
        WHERE orderNo = #{orderNo, jdbcType=VARCHAR}
    </update>

    <select id="selectByNo" parameterType="java.lang.String" resultType="com.inbyte.component.app.payment.weixin.model.PaymentWeixinInfoBrief">
        SELECT weixinPaymentId,
               userId,
               orderNo,
               orderBrief,
               orderType,
               mainPhoto,
               venueId,
               mctNo,
               appId,
               paymentAmount,
               weixinPaymentMerchantId,
               paid,
               paymentNo
          FROM payment_weixin_info
         WHERE orderNo = #{orderNo, jdbcType=VARCHAR}
    </select>

</mapper>