<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inbyte.component.admin.system.dict.dao.InbyteDictItemMapper">

    <select id="detail" parameterType="Integer" resultType="com.inbyte.component.admin.system.dict.model.dict.item.DictItemDetail">
        SELECT di.item_id,
               di.dict_id,
               d.name AS dictName,
               di.code,
               di.`name`,
               di.icon,
               di.remark,
               di.`system`,
               di.ordinal,
               di.create_time,
               di.create_user_name,
               di.create_user_id,
               di.update_time
          FROM inbyte_dict_item
          LEFT JOIN inbyte_dict d
           ON di.dict_id = d.dict_id
         WHERE item_id = #{itemId, jdbcType=INTEGER}
    </select>

    <select id="list" resultType="com.inbyte.component.admin.system.dict.model.dict.item.DictItemBrief">
        SELECT di.item_id,
               di.dict_id,
               d.name AS dictName,
               di.code,
               di.`name`,
               di.icon,
               di.remark,
               di.ordinal,
               di.create_time,
               di.update_time
          FROM inbyte_dict_item di
          LEFT JOIN inbyte_dict d
            ON di.dict_id = d.dict_id
         WHERE di.deleted = 0
           AND di.dict_id = #{dictId}
        <if test="keyword != null and keyword != ''">
            AND (di.name LIKE CONCAT('%', #{keyword}, '%')
            OR di.remark LIKE CONCAT('%', #{keyword}, '%'))
        </if>
         ORDER BY ordinal ASC
    </select>

</mapper>
